/* https://150jahresaltina.ch/portfolio/25-adele-album/ */      
    html {
      font-family: Montserrat;
    }

    header, #References {
      background-color: black;
      padding: 10px;      
      margin: 2px;
      width: 97.4%;
      color: white;
      overflow: auto;
    }

    header {
      position: sticky;
      float: left;
      margin-right: 20px;
      font-family: Montserrat
    }

    footer {
      font-size: 10px;
      text-indent: 50px;
      background: black; 
      clear: both; 
      margin: 100px 0px 0px 0px
    }

    #Album {
      background-color: white;
      padding: 2px;
      margin: 2px;
      float: left;
      color: black;
    }

    #Tracks, #Info {
      background-color: black;
      padding: 2px;
      margin: 2px;
      float: left;
      color: white;
    }

    #Album, #Tracks {
      background-color: black;
      color: white;
      width: 21%;
      padding: 15px;
      height: 375px;
      overflow: hidden;
    }

    #Info {
      width: 49.5%;
      padding: 15px;
      height: 375px;
      overflow: auto;
    }

    #Margin0 {
      Margin: 0px;
    }

    #Hyperlink {
      float: right;
      color: white
    }

    body {
      background-color: white;
      padding: 20px 0px
    }

    p {
      text-align: justify
    }

    a {
      margin-right: 20px;
      padding-right: 20px;
      color: white;
      float: right;
      text-decoration: none;
    }

    ol {
      list-style-type: none;
    }
